{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Clory{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/website_icon.png' %}">

  {% tailwind_css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-zinc-900 min-h-screen">

  <!-- Navbar fixa no topo -->
  <nav class="bg-zinc-900 px-6 py-3 rounded-b-xl font-serif">

  <div class="flex justify-between items-center max-w-6xl mx-auto">

    <!-- Logo + Título -->
    <div class="flex items-center space-x-4" >
      <img src="{% static 'img/website_icon.png' %}" alt="Logo" class="w-14 h-14">
        <a href="{% url 'post_feed' %}">
      <span class="text-2xl font-bold text-white tracking-wider">Clory</span>
    </div>

    <!-- Links -->
    <div class="flex items-center space-x-8 text-zinc-400 text-base">
      <a href="{% url 'post_feed' %}" class="hover:text-zinc-200 transition flex flex-col items-center">
        <i class="fas fa-stream text-xl"></i>
        <span class="text-xs mt-1">Feed</span>
      </a>
      <a href="{% url 'user_post' %}" class="hover:text-zinc-200 transition flex flex-col items-center">
        <i class="fas fa-book text-xl"></i>
        <span class="text-xs mt-1">Meus</span>
      </a>
      <a href="{% url 'post_create' %}" class="hover:text-zinc-200 transition flex flex-col items-center">
        <i class="fas fa-pen text-xl"></i>
        <span class="text-xs mt-1">Escrever</span>
      </a>
      <a href="{% url 'account_edit' user.id %}" class="hover:text-zinc-200 transition flex flex-col items-center">
        <i class="fas fa-cog text-xl"></i>
        <span class="text-xs mt-1">Conta</span>
      </a>
    </div>

  </div>

</nav>

  <!-- Conteúdo da página -->
  <main class="p-2 mt-2">
    {% block content %}
    <!-- conteúdo individual de cada página -->
    {% endblock %}
  </main>

</body>
</html>
