{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/website_icon.png' %}">

    {% tailwind_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="bg-white rounded-2xl shadow-lg overflow-hidden w-full max-w-4xl flex flex-col md:flex-row">
        
        <!-- Lado esquerdo - Ilustração -->
        <div class="md:w-1/2 bg-white flex items-center justify-center p-8">
            <img src="{% static 'img/website_icon.png' %}" alt="Illustration" class="w-72 h-auto">
        </div>
        {% block content %}

        {% endblock content %}

    </div>
</body>
</html>