{% load static tailwind_tags %}
{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clory</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/website_icon.png' %}">

    {% tailwind_css %}
  </head>
  <body class="bg-[#f5f6f8] font-sans">

    <div class="min-h-screen flex items-center justify-center">
      <div class="bg-white w-full max-w-4xl rounded-xl shadow-lg overflow-hidden grid grid-cols-1 md:grid-cols-2">

        <!-- Lado esquerdo: imagem -->
        <div class="flex items-center justify-center bg-white p-10">
          <img src="{% static 'img/website_icon.png' %}" alt="Logo" class="w-100 h-100 object-contain">
        </div>

        <!-- Lado direito: conteúdo -->
        <div class="p-10 flex flex-col justify-center">
          <h1 class="text-3xl font-bold text-gray-800 mb-2">Bem-vindo à Clory</h1>
          <p class="text-gray-500 mb-6">Seu espaço pessoal para escrever, anotar e guardar momentos importantes. Mostre-os ao mundo no seu tempo⏳!</p>

          <div class="space-y-4">
            <a href="{% url 'login' %}" class="w-full block text-center bg-orange-600 text-white py-3 rounded-lg hover:bg-red-600 transition">
              Acessar Diário
            </a>
            <a href="{% url 'register' %}" class="w-full block text-center border border-orange-600 text-red-600 py-3 rounded-lg hover:bg-blue-50 transition">
              Nova Conta
            </a>
          </div>

          <p class="text-sm text-gray-400 mt-6 text-center">
            Ou <a href="{% url 'account_edit' user.id %}" class="text-orange-400 hover:underline">ajuste seu perfil</a>
          </p>
        </div>

      </div>
    </div>

  </body>
</html>
