{% extends "accounts/base.html" %}
{% block content %}
<!-- component -->
{% load static %}
{% load tailwind_tags %}
        <!-- Lado direito - Formulário -->
        <div class="md:w-1/2 bg-gray-200 p-10">
          <h2 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Log in</h2>
          <form method="post" class="space-y-4" autocomplete="off">
            {% csrf_token %}
            
                <div>
                  <label class="block text-gray-700 font-semibold mb-1">Email</label>
                    {{ form.username }}
                </div>
                
                <div>
                    <label class="block text-gray-700 font-semibold mb-1">Password</label>
                    {{ form.password }}
                  </div>
                  
                <button type="submit" class="w-full bg-teal-600 hover:bg-teal-800 transition text-white py-2 rounded-md text-lg font-medium">
                  Log in
                </button>
                <a href="{% url 'register' %}">
                  <span class="text-lg text-gray-700 font-medium hover:underline cursor-pointer">
                  Don't have an account? Sign up!
                  </span>
                </a>
            </form>
        </div>
    </div>
</body>
</html>

{% endblock %}