{% extends "accounts/base.html" %}
{% block content %}
<!-- component -->
{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    {% tailwind_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
        <!-- Lado direito - Formulário -->
        <div class="md:w-1/2 bg-gray-200 p-10">
            <h2 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Create your account</h2>
            <form method="post" class="space-y-4" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}

                <div>
                    <label class="block text-gray-700 font-semibold mb-1">Your real name</label>
                    {{ form.real_name }}
                </div>

                <div>
                    <label class="block text-gray-700 font-semibold mb-1">Your username</label>
                    {{ form.user_name }}
                </div>

                <div>
                    <label class="block text-gray-700 font-semibold mb-1">Your Email</label>
                    {{ form.email }}
                </div>

                <div>
                    <label class="block text-gray-700 font-semibold mb-1">Birthday (Month/Day/Year)</label>
                    {{ form.birthday }}
                </div>

                <div>
                    <label class="block text-gray-700 font-semibold mb-1">Password</label>
                    {{ form.password1 }}
                </div>

                <div>
                    <label class="block text-gray-700 font-semibold mb-1">Password Confirmation</label>
                    {{ form.password2 }}
                </div>

                <button type="submit" class="w-full bg-teal-600 hover:bg-teal-800 transition text-white py-2 rounded-md text-lg font-medium">
                    Sign up
                </button>
                <a href="{% url 'login' %}">
                  <span class="text-lg text-gray-700 font-medium hover:underline cursor-pointer">
                  Have an account? Log in!
                  </span>
                </a>
            </form>
        </div>

{% endblock %}